{% extends 'cooladmin/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="page-container">
    {%include 'cooladmin/userbar.html'%}
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">overview</h2>

                        </div>
                    </div>
                </div>
                <div class="row m-t-25">
                    <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="text">
                                        <h2>{{counts.user_count}}</h2>
                                        <span>Count of Users</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <div class="chartjs-size-monitor"
                                         style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                        <div class="chartjs-size-monitor-expand"
                                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink"
                                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-list-alt"></i>
                                    </div>
                                    <div class="text">
                                        {% if user.user_type == 1%}<h3 style="color:white">You are superadmin</h3>
                                        {% elif user.user_type == 2%}<h3 style="color:white">You are adminstrator</h3>
                                        {% elif user.user_type == 3%}<h3 style="color:white">You are editor</h3>
                                        {% elif user.user_type == 4%}<h3 style="color:white">You are contributor</h3>
                                        {% elif user.user_type == 5%}<h3 style="color:white">You are subscriper</h3>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <div class="chartjs-size-monitor"
                                         style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                        <div class="chartjs-size-monitor-expand"
                                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink"
                                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% if user.user_type == 1%}
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE-->
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Full name</th>

                                    <th>email</th>
                                    <th>Date joined</th>
                                    <th>User type</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for us in users %}
                                <tr>
                                    <td>{{ us.id }}</td>
                                    <td>{{us.full_name}}</td>

                                    <td>{{ us.email }}</td>
                                    <td>{{ us.date_joined }}</td>
                                    <td>
                                         {% if us.user_type == 1%}superadmin
                                        {% elif us.user_type == 2%}adminstrator
                                        {% elif us.user_type == 3%}editor
                                        {% elif us.user_type == 4%}contributor
                                        {% elif us.user_type == 5%}subscriper
                                        {% endif %}
                                    </td>

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
                <a class="au-btn au-btn-icon au-btn--blue" href="{% url 'create_user' %}">
                    <i class="zmdi zmdi-plus"></i>add user</a>
                {% endif %}

            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
{% endblock %}

{% block javascript %}
<script>
(function ($){
  try {


    var ctx = document.getElementById("CategoryBarChart");
    if (ctx) {
      ctx.height = 150;
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [{% for cb in categories_books %}"{{ cb.category }}",{% endfor %}],
          datasets: [
            {
              label: "My First dataset",
              data: [{% for cb in categories_books %}"{{ cb.book }}",{% endfor %}],
              borderColor: "rgba(0, 123, 255, 0.9)",
              borderWidth: "0",
              backgroundColor: "rgba(0, 123, 255, 0.5)"
            }
          ]
        },
        options: {
          legend: {
            position: 'top',
            labels: {
              fontFamily: 'Poppins'
            }

          },
          scales: {
            xAxes: [{
              ticks: {
                fontFamily: "Poppins"

              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                fontFamily: "Poppins"
              }
            }]
          }
        }
      });
    }

  } catch (error) {
    console.log(error);
  }
})(jQuery);


</script>
{% endblock%}


